<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<title>index</title>

	<link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/simplePagination.js/1.6/simplePagination.min.css" rel="stylesheet">
	<style>
		html,
		body {
		  overflow-x: hidden; /* Prevent scroll on narrow devices */
		}
		body {
		  padding-top: 70px;
		}
		footer {
		  padding: 30px 0;
		}

		[v-cloak]{
			display: none;
		}
	</style>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>

	<header class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false" aria-controls="nav">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/front/index.html">首页</a>
			</div>

			<nav id="nav" class="navbar-collapse collapse">
				<ul class="nav navbar-nav" >
					<li><a href="/front/index.html">发现 </a></li>
					<li><a href="#">参考</a></li>
				</ul>
				<form class="navbar-form navbar-left">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search" name="filter" id="filter">
					</div>
					<button type="button" class="btn btn-success" onclick="setFilter()">搜索</button>
				</form>
				
				<ul class="nav navbar-nav navbar-right" v-if="loginSuccess==='true'" v-cloak>
					<li><a href="/front/edit-article.html">写作</a></li>
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{username}}  <span class="caret"></span></a>
					  <ul class="dropdown-menu">
						<li><a href="#">账号设置</a></li>
						<li><a href="/front/myblog.html">我的博客</a></li>
						<li role="separator" class="divider"></li>
						<li><a onclick="logout()">退出</a></li>
					  </ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right" v-else v-cloak>
					<li><a href="/front/login.html">登录</a></li>
				</ul>
			</nav>
		</div>
	</header>
	
	<section id="content">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-9" id="article-list">
					<div class="jumbotron">
						<h1>Hello!</h1>
						<p>这是杨鸿皓的个人博客网站</p>
					</div>

					<div v-for="article in articles" v-cloak>
						<div class="panel panel-default">
							<div class="panel-body">
								<h3><a v-bind:href="'/front/article.html?uuid='+article.uuid" target="_blank">{{article.title}}</a></h3>
								<p>{{article.description}}</p>
								<!-- <p><a class="btn btn-primary" href="#" role="button">查看 &raquo;</a></p> -->
							</div>
						</div>
					</div>

					<div class="text-center" >
						<ul id="pagination" class="pagination" style="display:inline-block"></ul>
					</div>

				</div>
				
				<div class="col-xs-6 col-sm-3" id="category-list">
					<h3>分类</h3>
					<div class="list-group">
						<a href="/front/index.html?categoryName=default" class="list-group-item">default</a>
						<a href="/front/index.html?categoryName=javabasic" class="list-group-item">javabasic</a>
						<a href="/front/index.html?categoryName=javapro" class="list-group-item">javapro</a>
						<a href="/front/index.html?categoryName=javaframework" class="list-group-item">javaframework</a>
						<a href="/front/index.html?categoryName=redis" class="list-group-item">redis</a>
						<a href="/front/index.html?categoryName=sql" class="list-group-item">sql</a>
						<a href="/front/index.html?categoryName=linux" class="list-group-item">linux</a>
						<a href="/front/index.html?categoryName=docker" class="list-group-item">docker</a>
						<a href="/front/index.html?categoryName=git" class="list-group-item">git</a>
						<a href="/front/index.html?categoryName=web" class="list-group-item">web</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<footer>
		<div class="container">
			<p>&copy; 2019 YHH, All rights Reserved.</p>
		</div>
	</footer>



</body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
<script src="https://cdn.bootcss.com/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-pagination.js@1.6.0/jquery.simplePagination.min.js"></script>
<script>
function getUrlParam(name){
	var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
	var r = window.location.search.substr(1).match(reg);
	if(r!=null)
		return  unescape(r[2]);
	return null;
}
function setFilter(){
	var filter = $("#filter").val();
	if(filter==null||$.trim(filter)=="")
		return;
	var categoryName = getUrlParam("categoryName");
	if(categoryName==null||$.trim(categoryName)==""){
		window.location.href="/front/index.html?filter="+filter;
	}else{
		window.location.href="/front/index.html?categoryName="+categoryName+"&filter="+filter;
	}
}
var nav2=new Vue({
	el: '#nav',
	data: {
		loginSuccess:"false",
		username:"个人中心"
	},
	beforeCreate:function(){
		$.ajax({
			url:"/checkLogin.do",
			type:"POST",
			dataType:"json",
			success:function (result) {
				if(result.result=="true"||result.result==true){
					nav2.loginSuccess="true";
					nav2.username=result.username;
				}else{
					nav2.loginSuccess="false";
				}
			}
		});
	}
});
function logout(){
	$.ajax({
		url:"/logout.do",
		type:"POST",
		dataType:"json",
		success:function (result) {
			if(result=="true"||result==true){
				nav2.loginSuccess="false";
			}else{
				nav2.loginSuccess="true";
			}
		}
	});
}

var artvue;

$(document).ready( function () {
	artvue=new Vue({
		el: '#article-list',
		data: {
			articles:{}
		}
	});
	var categoryName = getUrlParam("categoryName");
	var filter = getUrlParam("filter");
	var data = {"start":0,"length":10};
	if(categoryName!=null||$.trim(categoryName)!="")
		data.categoryName=categoryName;
	if(filter!=null||$.trim(filter)!="")
		data.filter=filter;
	$.ajax({
		url:"/listArticle.do",
		data:data,
		dataType:"json",
		type:"get",
		success:function (result) {
			artvue.articles=result.articles;
			setPagination(Math.ceil(result.total/10),1);
		}
	});
});
var pagination_param={};
function setPagination(pages,currentPage){
	pagination_param={
		// items: Math.ceil(result.total/10),
		items: pages,
		itemOnPage: 10,
		currentPage: currentPage,
		cssStyle: '',
		prevText: '<span aria-hidden="true">&laquo;</span>',
		nextText: '<span aria-hidden="true">&raquo;</span>',
		onInit: function () {
		},
		onPageClick: function (page, evt) {
			var categoryName = getUrlParam("categoryName");
			var filter = getUrlParam("filter");
			var data = {"start":10*(page-1),"length":10};
			if(categoryName!=null||$.trim(categoryName)!="")
				data.categoryName=categoryName;
			if(filter!=null||$.trim(filter)!="")
				data.filter=filter;
			$.ajax({
				url:"/listArticle.do",
				data:data,
				dataType:"json",
				type:"get",
				success:function (result) {
					// setArticles(result.articles)
					artvue.articles=result.articles;
					setPagination(Math.ceil(result.total/1),page);
				}
			});
		}
	}
	$('#pagination').pagination(pagination_param);
}


</script>